/* make the customizations */
$theme-colors: (
  'primary': #6efae5,
);

/* General styles */
$body-bg: #052021;
$text-color: #e6e1e4;
$headings-color: #e6e1e4;

/* Button styles */
$btn-primary-border: #6efae5;

/* Nav items styles */
$link-color: #e6e1e4;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
