@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Open+Sans+Condensed:wght@300&display=swap');

$theme-colors: (
  'primary': #d400e5,
  'secondary': #15eeff,
);

$brand-primary: #d400e5;

/* Everything is commented out for now, because you can't read some of the text on a dark background yet */
/* General styles */
$body-bg: #171c17;
$text-color: #e6e1e4 !important;
$headings-color: #e6e1e4;
$font-family-base: 'Do Hyeon', sans-serif;

$link-hover-color: $brand-primary;

$component-active-bg: $brand-primary;

$state-danger-text: blue !important;
$state-danger-bg: #f2dede !important;

@import '~bootstrap/scss/bootstrap';
